#listar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-color: #242424;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: white;
}

.table-class {
  border-collapse: collapse;
}

.table-class th,
.table-class td {
  border: 1px solid #ccc;
  padding: 12px 16px;
  text-align: center;
}

.table-class th {
  font-weight: bold;
}

.comprar-btn {
  width: 200px;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0055ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.comprar-btn:hover {
  background-color: #26cd00;
  transform: scale(1.05);
}