SECRET_KEY=super-secret-key-da-nossa-app-jwt
TWILIO_ACCOUNT_SID=meu-twilio-account-sid
TWILIO_AUTH_TOKEN=meu-twilio-auth-token
TWILIO_WHATSAPP_NUMBER=whatsapp:meu-whatsapp-number

SQLALCHEMY_DATABASE_URI=mysql+mysqlconnector://root:root@127.0.0.1:3306/market_management