# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env

# SQLite database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testes
.pytest_cache/
.coverage
coverage.xml
htmlcov/
