<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CADASTRO</title>
</head>

<body>
    <div>
        <h1>CADASTRO DE USUÁRIO</h1>
        <form action="" method="">
            <div class="input-group">
                <label for="nome">Digite seu nome: </label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="input-group">
                <label for="email">Digite seu email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="senha">Digite uma senha:</label>
                <input type="password" id="senha" name="senha">
            </div>
            <div class="input-group">
                <input type="button" id="enviar" name="enviar" onclick="pedeCodigo">

            </div>
        </form>
    </div>
</body>
<script>
    function pedeCodigo() {
        Swal.fire({
            title: "Informe o código enviado para o seu WhatsApp:",
            input: "text",
            inputAttributes: {
                autocapitalize: "off"
            },
            showCancelButton: true,
            confirmButtonText: "Enviar",
            showLoaderOnConfirm: true,
            preConfirm: async (codigo) => {
                if (!codigo) {
                    Swal.showValidationMessage("O código precisa ser informado!")
                    return false;
                }
                try {
                    const response = await $.ajax({
                        url: "",
                        type: "",
                        contentType: "application/json",
                        data: JSON.stringify({ codigo: codigo })
                    });
                    return response;
                } catch (error) {
                    Swal.showValidateMessage("Erro ao validar o código!");
                    return false;
                }
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Código validado com sucesso",
                    icon: "Sucesso",
                    draggable: true
                });
                setTimeout(() => {
                    window.location.href = 'login.html';
                }, 2000);
            }
        });
    }

</script>

</html>